<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" id="brand" href="#" style="font-family: 'Georgia', serif; font-size: 1.5rem;">
      TP - Gestión Alumnos
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/cursos"
            >Cursos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/alumnos"
            >Alumnos</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/docentes"
            >Docentes</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/temas"
            >Temas</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
